.border-radius{
    border-radius: 3px;
}
.custom-link{
    color: black;
    text-decoration: none;
}
.custom-link:hover{
    color: red;
}
.custom-link-2{
    color: black;
    background-color: transparent;
}
.custom-link-2:hover{
    color: white;
    background-color: black;
}
.ls-font{
    font-size: 0.8rem;
    font-weight: bold;
}
.width-7{
    width: calc(100%/7);
}
.width-8{
    width: calc(100%/8);
}
.section-5{
    width: 75%;
    height: 75%;
    aspect-ratio: 1/1;
}
.fit-content{
    height: fit-content;
}
.card-hover .img-hover {
    width: 50%;
    transition: 0.3s ease-in-out;
}
.card-hover:hover .img-hover {
    transform: scale(1.1) translateY(-15px);
}
.custome-link-3 i {
    transition: 0.3s;
}

.custome-link-3:hover i {
    color: black;
}
.discount{
    width: 4rem;
    height: 4rem;
    top: 6%;
    right: 0;
}

.w-75{
    width: 75%;
}
.w-10{
    width: 2%;
}

.item {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.3s ease;
}

.overlay span {
    color: white;
    font-size: 22px;
}

.item:hover .overlay {
    opacity: 1;
}

.nav-next-prev{
    transition: 0.3s ease;
    color: black;
}
.nav-next-prev:hover button span{
    background-color: black;
}
.i-card {
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s ease;
}

.card:hover .i-card {
    opacity: 1;
    transform: translateY(0);
}

.ancor-section6{
    color: black;
    background-color: #e9ecef;
    transition: all 0.3s ease;
}
.ancor-section6:hover {
    background-color: black;
    color: white;
}